aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
async-timeout
attrs
backoff
beautifulsoup4
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
cryptography
dataclasses-json
debugpy
decorator
distro
emoji
eval_type_backport
exceptiongroup
executing
faiss-cpu
filetype
frozenlist
gitdb
GitPython
greenlet
h11
html5lib
httpcore
httpx
httpx-sse
idna
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langdetect
langsmith
libmagic
lxml
MarkupSafe
marshmallow
matplotlib-inline
multidict
mypy-extensions
narwhals
nest-asyncio
nltk
numpy
olefile
openai
orjson
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
python-dateutil
python-dotenv
python-iso639
python-oxmsg
pytz
pywin32
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-toolbelt
rpds-py
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
tenacity
tiktoken
toml
tornado
tqdm
traitlets
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
watchdog
wcwidth
webencodings
wrapt
yarl
zstandard
